{% extends "auth/layout.html" %}
{% set active_page = "auth.approve" -%}


{% block head2 %}
    <link href="/static/assets/css/auth.css" rel="stylesheet">
    <link href="/static/assets/components/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="body-wrapper">
        <div class="row">
            <div class="col-md-12">
                {% include 'auth/nav_tabs.html' %}
            </div>
            <div class="col-md-12">
                <div class="list-group-toolbar">
                    <div class="pull-right col-md-offset-10">
                        <span>共有元数据<strong>{{ total }}</strong>条</span>
                        (<span class="text-danger">{{ current_page }}</span>/{{ total_page }})
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            {% if current_page <= 1 %}
                                <div class="btn btn-default disabled">
                                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                </div>
                            {% else %}
                                <a class="btn btn-default"
                                   href="{{ next_page_url(current_page - 1) }}">
                                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            {% if current_page >= total_page %}
                                <div class="btn btn-default disabled">
                                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                                </div>
                            {% else %}
                                <a class="btn btn-default" {{ 'disabled="disabled"' if current_page >= total_page }}
                                   href="{{ next_page_url(current_page + 1) }}">
                                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="favorite-list-group-wrapper">
                    <ul class="list-group" id="order-list">
                        {% for order in orders %}
                            {% if order.item.meta %}
                                {% if order.item.meta.ds_share_type == '完全公开' %}
                                    <li class="list-group-item">
                                        <div class="col-md-9">
                                            <h5 class="list-group-item-heading">
                                                {{ order.username }} {{ order.phone_no }} {{ order.unit }} {{ order.address }}
                                                【<a href="{{ url_for('auth.pass_apply_details', id=order.id) }}">查看详情</a>】
                                            </h5>
                                            <div class="list-group-item-text">
                                                <a href="{{ url_for('portal.metadata_details', id=order.item.meta.id) }}"
                                                   target="_blank">{{ order.item.meta.title_cn }}</a>【{{ order.item.meta.ds_share_type }}】

                                            </div>
                                            <div class="list-group-item-text">
                                                <a href="/order/pdf/?token={{ current_user.jwt_token() }}"
                                                   class="btn btn-xs btn-default">
                                                    <span class="glyphicon glyphicon-download"></span>
                                                    导出申请材料
                                                </a>
                                                <span>由于您申请的是完全公开数据，请在详情页下载数据。</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% else %}
                                    <li class="list-group-item">
                                        <div class="col-md-9">
                                            <h5 class="list-group-item-heading">
                                                {{ order.username }} {{ order.phone_no }} {{ order.unit }} {{ order.address }}
                                                【<a href="{{ url_for('auth.pass_apply_details', id=order.id) }}">查看详情</a>】
                                            </h5>
                                            <div class="list-group-item-text">
                                                <a href="{{ url_for('portal.metadata_details', id=order.item.meta.id) }}"
                                                   target="_blank">{{ order.item.meta.title_cn }}</a>【{{ order.item.meta.ds_share_type }}】

                                            </div>
                                            <div class="list-group-item-text">
                                                {% if order.status == 0 %}
                                                    <a href="{{ url_for('auth.order_pdf', id=order.id) }}"
                                                       class="btn btn-xs btn-default">
                                                        <span class="glyphicon glyphicon-download"></span>
                                                        导出申请材料
                                                    </a>
                                                    <span class="btn btn-xs btn-default fileinput-button">
                                            <span class="glyphicon glyphicon-upload"></span>
                                            <span>上传证明材料</span>
                                            <input class="fileupload" type="file" name="stuff"
                                                   data-order="{{ order.id }}">
                                        </span>
                                                {% elif order.status == -1 %}
                                                    <form action="{{ url_for('auth.add_to_order') }}" method="post">
                                                        <input type="hidden" name="item_ids"
                                                               value="{{ order.item.id }}">
                                                        <button type="submit" class="btn btn-default btn-xs">再次申请
                                                        </button>
                                                    </form>
                                                {% elif order.status == 2 %}
                                                    {% if order.type == "email" %}
                                                        您的申请已经通过，由于您申请的是离线数据，服务人员会尽快将数据邮寄给您。
                                                    {% else %}
                                                        您的申请已经通过，请在详情页下载数据。
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            {% if order.type == "email" %}
                                                {% if order.reviewers %}
                                                    <div class="list-group-item-text">
                                                        于{{ order.reviewers[0].created |dtt }}向{{ order.reviewers[0].username }}
                                                        发送了审核邮件,
                                                        {% if order.reviewers[0].result == 0 %}
                                                            审核中。
                                                        {% elif order.reviewers[0].result == 1 %}
                                                            已同意。
                                                        {% else %}
                                                            已拒绝。
                                                        {% endif %}

                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                        <div class="col-md-1">
                                            {% if order.stuff %}
                                                <a href="/static/upload/images/{{ order.stuff }}" class="thumbnail"
                                                   target="_blank">
                                                    <img style="" src="/static/upload/images/{{ order.stuff }}"
                                                         alt="请上传证明材料">
                                                </a>
                                            {% else %}
                                                <a href="#" class="thumbnail">
                                                    <img style=""
                                                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWE0ZjA5Mjk3ZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1YTRmMDkyOTdkIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                                                         alt="请上传证明材料">
                                                </a>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-2">
                                            {% if order.status == 0 %}
                                                【请上传证明材料】
                                            {% elif order.status == 1 %}
                                                【材料审核中】
                                            {% elif order.status == -1 %}
                                                <span class="text-danger">【材料审核未通过】</span>
                                            {% elif order.status == 2 %}
                                                【材料审核通过】
                                            {% endif %}
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <li class="list-group-item">暂无数据.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="list-group-toolbar">
                    <div class="pull-right col-md-offset-10">
                        <span>共有元数据<strong>{{ total }}</strong>条</span>
                        (<span class="text-danger">{{ current_page }}</span>/{{ total_page }})
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            {% if current_page <= 1 %}
                                <div class="btn btn-default disabled">
                                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                </div>
                            {% else %}
                                <a class="btn btn-default"
                                   href="{{ next_page_url(current_page - 1) }}">
                                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            {% if current_page >= total_page %}
                                <div class="btn btn-default disabled">
                                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                                </div>
                            {% else %}
                                <a class="btn btn-default" {{ 'disabled="disabled"' if current_page >= total_page }}
                                   href="{{ next_page_url(current_page + 1) }}">
                                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block foot_script %}
    <script type="text/javascript" src="/static/assets/components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="/static/assets/components/jquery.iframe-transport/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/static/assets/components/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script>
        $(function () {
            'use strict';
            $('.fileupload').fileupload({
                url: '{{ url_for("auth.stuff_upload") }}',
                dataType: 'json',
                done: function (e, data) {
                    if (data.result.type == 'success') {
                        window.location.reload()
                    }
                }
            }).bind('fileuploadsubmit', function (e, data) {
                var id = $(this).data('order');
                data.formData = {id: id};
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');

        });
    </script>

{% endblock %}
