<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据共享协议</title>
    <script src="/static/assets/components/jquery/dist/jquery.min.js"></script>
    <link href="/static/assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: Arial, "宋体";
            font-weight: normal;
            color: #333333;
        }
    </style>
</head>
<body>
<div class="container" style="margin-bottom: 20px;">
    <img src="/static/assets/images/logo.png">
</div>
<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <p class="navbar-text">数据共享协议</p>
        </div>
    </nav>
</div>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h4>第一章 用户的权利和义务</h4>
        <p>第一条 用户对获得的中国特殊环境与灾害研究网络数据享有受限的、不排他的使用权。</p>
        <p>第二条 用户未经允许不得将申请获得的中国特殊环境与灾害研究网络数据直接向外分发或转让，也不得间接地用作供外部使用的数据库和其它服务产品的一部分。</p>
        <p>第三条 用户对申请获得的保密数据有保密的义务；用户申请获得的用于非盈利性活动的中国特殊环境与灾害研究网络数据，不得用于盈利性活动。</p>
        <p>第四条
            使用中国特殊环境与灾害研究网络数据的用户在发表相关成果时，应注明其所利用数据的生产单位（或研究者）、数据提供单位，并向数据提供单位反馈数据利用情况的相关信息，将其所发表成果（论文、著作或报告等）赠送数据生产单位和综合中心各一份。</p>
        <h4>第二章 处罚</h4>
        <p>第五条 共享用户有下列行为之一的，由有关部门责令其改正，给予警告，并处以必要的罚款；情节严重的，停止向其提供中国特殊环境与灾害研究网络数据，由其所在单位给予行政处分；违反法律、法规的，依法处置:</p>
        <p style="text-indent: 2em">(一)将申请获得的中国特殊环境与灾害研究网络的数据直接向外分发或转让的；</p>
        <p style="text-indent: 2em">(二)将申请获得的中国特殊环境与灾害研究网络数据间接地用作供外部使用的数据库和其它服务产品的一部分的；</p>
        <p style="text-indent: 2em">(三)将申请获得的中国特殊环境与灾害研究网络数据发布到内部局域网与广域网的；</p>
        <p style="text-indent: 2em">(四)将申请获得的用于非盈利活动的中国特殊环境与灾害研究网络数据用于盈利性活动的；</p>
        <p style="text-indent: 2em">(五)将申请获得的保密性数据向外泄露的。</p>
    </div>
</div>


</body>
</html>