{% extends "portal/layout.html" %}
{% set active_page = "portal.jobfarm" -%}

{% block title %}需要登录 {% endblock %}

{% block head2 %}
<style type="text/css">


</style>
{% endblock %}

{% block nav %}
<div class="nav-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2 fn-clean-grid-right-padding">
                <div class="category-header">
                    数据分类
                </div>
            </div>
            <div class="col-md-10">
                {% include 'portal/nav.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div style="margin-top: 15px;">
    <div class="container main-wrap">
        <div class="col-md-2" style="padding: 0;">
            {% include 'portal/jobfarm/nav.html' %}
        </div>
        <div class="col-md-10">
            <div class="alert alert-warning"><h2><a href="{{ url_for('auth.login', next=request.url) }}">登录</a>后才可以查看</h2></div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot_script %}
<script type="text/javascript">

</script>
{% endblock %}