{% extends "auth/layout.html" %}
{% set active_page = "auth.password" -%}


{% block head2 %}
    <link href="/static/assets/css/auth.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include 'auth/nav_tabs.html' %}
        </div>
    </div>
    <div class="left-content">
        <div class="col-md-3">
            <h4>修改密码</h4>
        </div>
        <div class="col-md-9">
            <form action="{{ url_for('auth.save') }}" method="post">
                <div class="form-group">
                    <label for="password">原始密码</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="new_password">新密码</label>
                    <input type="password" class="form-control" name="new_password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">确认密码</label>
                    <input type="password" class="form-control" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-success">保存</button>
            </form>
        </div>
    </div>
{% endblock %}