<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block head_title %}
        <title>寒旱区环境演变研究科技领域云</title>
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/static/assets/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/static/assets/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css"
          rel="stylesheet"/>
    <link href="/static/assets/components/bootstrap-select/dist/css/bootstrap-select.css"
          rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/manage.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/static/assets/css/portal.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head2 %}
    {% endblock %}

</head>

<body>
{% include 'auth/header.html' %}

<div class="container main-wrap" style="margin-top: 20px;">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}
        login
    {% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/assets/components/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/components/jquery-ujs/src/rails.js"></script>
<script src="/static/assets/js/auth.js"></script>
<script type="text/javascript">
    $(function () {
        $("ul.auth-nav-tabs > li[page='{{ active_page }}']").addClass("active");
    });
</script>
{% block foot_script %}
{% endblock %}
</body>
</html>
