{% extends "auth/layout.html" %}

{% block head2 %}
    <link href="/static/assets/css/sigin.css" rel="stylesheet">
    <style type="text/css">
        .only-for-register{
            display: none;
        }
    #selOption{
        background-color: #EEE;
        height: 60px;
    }
    .verify_code{
        vertical-align: baseline;
    }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form form-horizontal" method="post" action="{{ url_for('auth.save_map_user_to_passport') }}">
                <div id="selOption">
                    <label>
                        <input type="radio" name="map_type" value="login" checked> 关联到已有用户
                    </label>
                    <label class="pull-right">
                        <input type="radio" name="map_type" value="register"> 补充用户信息
                    </label>
                </div>
                <h3 id="formTitle" class="form-signin-heading">填写用户登录信息</h3>
                <div class="form-group">
                    <label for="cstnetId" class="col-sm-2 control-label">科研通行证</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="cstnetId" value="{{ cstnetId }}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control">
                    </div>
                </div>

                <div style="height: 50px;">
                    <label for="code" class="col-sm-2 control-label">验证码</label>
                    <input type="text" name="code" class="form-control col-sm-6"
                           style=" width: 150px; float: left; margin-top: 10px;"
                           required>
                    <div style="height: 60px;" class="col-sm-5">
                        <a href="javascript: changeImg()" style="font-size: 25px;"><span
                                class="glyphicon glyphicon-refresh"
                                style="font-size: 25px; padding-top: 20px;"
                                aria-hidden="true"></span></a>
                        <img class="verify_code"  src="{{ url_for('auth.get_code') }}"
                             onclick="this.src='/auth/code?'+ Math.random()">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="regInfo" class="only-for-register" >
                    <div class="form-group">
                        <label for="password_confirm" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password_confirm" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="realname" class="col-sm-2 control-label">真实姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="realname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="phone">
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block only-for-login" type="submit">登录</button>
                <button class="btn btn-lg btn-primary btn-block only-for-register" type="submit">注册</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block foot_script %}
    <script>
        var changeImg = function () {
            $(".verify_code").click();
        };
        $(function () {
            $("#selOption :radio").on("change", function (v) {

                var option = $("#selOption :radio:checked").val()
                console.log("v:", v, option);
                if (option == 'login') {
                    $(".only-for-register").hide();
                    $(".only-for-login").show();
                    $("#formTitle").text("填写用户登录信息");
                } else {
                    $(".only-for-register").show();
                    $(".only-for-login").hide();
                    $("#formTitle").text("填写用户注册信息");
                }
            })
        })
    </script>

{% endblock %}