<ul class="nav nav-tabs auth-nav-tabs">
    <li role="presentation" page="auth.cart"><a href="{{ url_for('auth.cart') }}">我的数据篮</a></li>
    <li role="presentation" page="auth.order"><a href="{{ url_for('auth.order') }}">待提交的订单 </a></li>
    <li role="presentation" page="auth.approve"><a href="{{ url_for('auth.approve') }}">待审批的订单 </a></li>
    <li role="presentation" page="auth.pass_apply"><a href="{{ url_for('auth.pass_apply') }}">已通过的申请 </a></li>
    <li role="presentation" page="auth.public"><a href="{{ url_for('auth.public') }}">完全共享数据 </a></li>
    <li role="presentation" page="auth.favorite"><a href="{{ url_for('auth.favorite') }}">我的收藏</a></li>
{#    <li role="presentation" page="auth.metadata"><a href="{{ url_for('auth.metadata') }}">我的数据</a></li>#}
    <li role="presentation" page="auth.profile"><a href="{{ url_for('auth.profile') }}">详细资料</a></li>
    <li role="presentation" page="auth.password"><a href="{{ url_for('auth.password') }}">修改密码</a></li>
</ul>
